@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;  
  background-color: black;
  scroll-behavior: smooth;
  
}

::-webkit-scrollbar {
  width: 10px;
}

 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(35, 147, 35); 
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: white;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
 
}

.hover-underline-animation:hover:after {
  transform: scaleX(.9);
  transform-origin: bottom left;
  text-decoration: underline;
  
}

.centered {
  position: absolute;
  top:45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.home{
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url('../public/star.webp') center;
  background-repeat: no-repeat;
  background-size: cover;

}
.nav-bar{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  transition: .3s ease-in;

}
.scroll{
  scroll-margin-top: 15em;
}